.form-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-wrapper {
  width: 100%;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  gap: 10px;
  width: 100%;

}
.icon{
  color: #39CCCC;
  font-size: 20px;
  margin-right: 10px;
}

.input-row > .location-map-button {
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  border: 1px solid var(--card-border);
  padding: 10px;
  box-sizing: border-box;
}
.back-arrow {
  cursor: pointer;
}

.form-container {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 14px;
}

.input-field input {
  width: 100%;
  padding-right: 40px; /* مساحة للأيقونة */
}

.extra-icon {
  position: absolute;
  right: 10px; /* لصقها يمين */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.input-field svg {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}

.input-field input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.extra-icon {
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #0a3460;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
  height: 4.2rem;
  box-shadow: 0px 3px 8px#2d2d2de3
}

.submit-btn:hover {
  opacity: 0.85;
}
/* input feild */
.input-field {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border: 1.5px solid var(--card-border);
  border-radius: 12px;
  padding: 10px 14px;
  width: 100%;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
  transition: border-color 0.3s ease;
  height: 2.4rem;
}

.input-field:focus-within {
  border-color: rgb(254, 244, 224);
}

.file-placeholder {
  color: #828181;
  font-size: 15px;
}

.file-placeholder.has-file {
  color: #333;
}


.icon {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  color: #39CCCC; 

}

.eye-icon {
  color: #545454;
  cursor: pointer;
}


.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  color: #333;
  background-color: transparent;
}

.extra-icon {
    width: 34px;
  height: 34px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.extra-icon:hover {
  opacity: 0.7;
}