.CardContainer {
  background-color: #fff;
  padding: 60px 60px 10px;
  min-height: auto;
}

.CardHeader {
  margin:0;
  padding: 0;
}

.CardHeader h1 {
  color: #052443;
  font-weight: bold;
  font-size: 30px
}
.CardHeader button{
    color: #FFFFFF;
    background: #052443;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    width: 180px;
   font-size: 18px;
   float: right;
   margin-right: 50px;
   transition: 0.3s ease;
  }
  .CardHeader button:hover{
 background-color:lightgray;
 color:#052443;
  }
  .CardHeader p {
    font-size: 19px;
    margin-top: 3rem;
    color: #767676;
  }
.CardsWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, 24rem);
  gap: 25px;
  margin-top: 30px;
  width: 100%;
}
  

  .Cardbtn {
    background-color: #fff;
    border: 1.5px solid #ddd;
    border-radius: 12px;
    padding: 20px 25px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .CardTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Cardbtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  }
    
  .DoctorText h3 {
    color: #052443;
    font-weight: bold;
    
    font-size: 20px;
    margin-top: 10px;
  }

  .CardBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #052443;
    font-weight: 500;
    font-size: 15px;
    margin-top: 1rem;
  }


  .sendBtn {

    background: rgba(0,0,0,0.6);
    color: #052443;
    background-color: #EBFAFA;
    border: none;
    border-radius: 18px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
   margin-top: 1rem;
   float: right;
    transition:  0.3s ease;
  }
  .sendBtn:hover {

    border-color: #39CCCC;
    color: #39CCCC;
  }

  
    .modal{
        
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7); 
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
          
    }

  .paginationControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
   margin-bottom: 1rem;
  }
  .pageButton {
    background-color: white;
     color : black;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #ddd;
    
  }
  .pageButton:hover{
    background-color: white;
    border-color: #39CCCC;
    color: #39CCCC;
  }
  .error{
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }